/* .App {
  text-align: center;
} */

/* .NoPrint{
  display: none;
} */
.noPrintMargins{
  /* padding: 0px !important; */
  margin-top:3%;
  margin-left:5%;
  margin-right:5%;
}
@media print{
  .NoPrint{
    display: none;
  }
  button{
    display:none
  }
  .noPrintMargins{
    /* padding: 0px !important; */
    margin: -5mm;
  }
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
